/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box 0;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

img{
  max-width: 100%;
  cursor: pointer;
}

.container{
  width: 1170px;
  width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

li{
  list-style: none;
  display: inline;
}

li a{
  color: #ffff;
  margin: 5px 10px;
}

/*HEADER*/
header{
  background-image: url("../img/jumbo.png");
  background-size: cover;
  height: 455px;
}

header .container-nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  width: 90%;
}

header .button a{
  background-color: #ffff;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
  font-weight: bold; 
}

header .button-black a{
  background-color: black; 
  border: 1px solid black;
  padding: 5px 10px;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

header .container-introduction{
  margin: 50px auto;
  text-align: center;
  max-width: 40%;
  font-weight: 500;
  font-size: medium;
  color: #ffff;
}

header .introduction{
  margin-bottom: 20px;
}

/*MAIN*/
main .container-discord{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 100px;
}

main .container-discord .introduction{
  width: 20%;
  padding-top:30px;
}

main .container-discord.grey{
  background-color: rgb(241, 237, 237);
}

