/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box 0;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

img{
  max-width: 100%;
  cursor: pointer;
}

.container{
  width: 1170px;
  width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

li{
  list-style: none;
  display: inline;
}

li a{
  color: #ffff;
  margin: 5px 10px;
}

/*HEADER*/
header{
  background-image: url("../img/jumbo.png");
  background-size: cover;
  height: 500px;
}

header .container-nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  position: fixed;
}

header .button a{
  background-color: #ffff;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
  font-weight: bold; 
}

header .button-black a{
  background-color: black; 
  border: 1px solid black;
  padding: 5px 10px;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}
/*MAIN*/


header .container-introduction{
  text-align: center;
  max-width: 45%;
  
}


